---
layout: page
title: Projects
permalink: /project/
nav: false
priority: 4
---
This is a list of all tags given to projects listed on the [About me](about) page.

{% assign projects = site.projects %}
{% assign tags = "" | split: ", " %}
{% for project in projects %}
  {% assign tags = tags | concat: project.tags %}
{% endfor %}

{% assign tags = tags | uniq | sort_natural %}
{% for tag in tags %}
  <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
  <ul>
    {% for project in projects reversed %}
    {% if project.tags contains tag %}
    <li>
      {% if project.published %}
        <a href="{{site.baseurl}}{{project.url}}">{{ project.title }}</a>
      {% else %}
        {{ project.title }}
      {% endif %}
      <small>
        <dl class="list-inline">
          <dt>
            interval
          </dt>
          <dd>
            {{ project.period }}
          </dd>
        </dl>
      </small>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
