body {
  background-color: $background-color;
  @media (prefers-color-scheme: dark) {
    background-color:invert($background-color);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

article.post .post-meta {
  @media (min-width: 48em) {
    margin-left: -1rem;
  }
}

.d-print-none {
  @media print {
    display: none;
  }
}



// about page hover effect
.switch-on-hover {
  border: 1px solid red;
  .hover {
    display: none;
  }
  &:hover {
    .show {
      display: none;
    }
    .hover {
      display: block;
    }
  }
}
