body > header {
  // Positioning context for the mobile navigation icon
  position: relative;
}


/**
 * Site footer
 */
body > footer {
  border-top: 0.5rem solid $headline-color;
  margin-top: 2rem;
  padding: 1rem;
}
