body > header {
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    @media (prefers-color-scheme: dark) {
      color: invert($text-color);
    }
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: $on-palm) {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid $text-color;
    @media (prefers-color-scheme: dark) {
      border: none;
    }
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          @media (prefers-color-scheme: dark) {
            fill: invert($text-color);
          }
          fill: $text-color;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
body > footer {
  border-top: 0.5rem solid $headline-color;
  margin-top: 2rem;
  padding: 1rem;
}
