.tag {
  padding: 0.25rem 0.5rem;
  font-size: 75%;
  border-radius: 0.5rem;
  text-decoration: none;
}
.tag-default {
  background-color: mix($background-color, $text-color, 90%);
  @media (prefers-color-scheme: dark) {
    background-color: mix(invert($background-color), $brand-color, 50%);
  }
}
