@font-face {
  font-family: 'Mona Sans';
  src:
    url('../assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body, html {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-stretch: 100%;
}

h1 {
  font-weight: 900;
  font-stretch: 125%;
  word-wrap: break-word;
}

h2 {
  font-weight: 700;
  font-stretch: 100%;
}

h3 {
  font-weight: 700;
  font-stretch: 75%;
}

// importantness of texts
strong {
  font-stretch: 125%;
}

em {
  font-weight: 400;
  font-stretch: 75%;
}

.muted {
  font-stretch: 75%;
  font-weight: 200;
}

blockquote {
  font-weight: 200;
  font-style: italic;
}

dt {
  font-weight: 600;
  font-stretch: 75%;
}
