body, html {
  color: $text-color;
  line-height: $base-line-height;
  font-size: $base-font-size;
  @media (prefers-color-scheme: dark) {
    color:invert($text-color);
  }
  @media print {
    font-size: $base-font-size * 0.75 !important;
  }
}


figcaption {
  font-size: 0.75em;
}

// Set `margin-bottom` to maintain vertical rhythm
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-bottom: 1rem;
}

// headlines
h1 {
  margin-left: -2rem;
  font-size: 5rem;
  line-height: 100%;
  @media (max-width:961px) {
    font-size: 3rem;
  }
  color: $headline-color;
}

h2 {
  font-size: 2rem;
  line-height: 100%;
  @media (max-width:961px) {
    font-size: 1.75rem;
  }
  color: $headline2-color;
  margin-left: -0.5em;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

h5,
h6 {
  font-size: 1rem;
}
h6 {
  text-transform: uppercase;
}

small {
  font-size: $small-font-size;
}

// links
a {
  color: $text-color;
  @media (prefers-color-scheme: dark) {
    color: invert($text-color);
    background-color:invert($background-color);
  }

  &:visited {
    color: $text-color;
    @media (prefers-color-scheme: dark) {
      color: invert($text-color);
    }
  }

  &:active,
  &:hover {
    background: $brand-color;
    @media (prefers-color-scheme: dark) {
      color: $text-color;
    }
  }
}


.muted {
  color: $text-muted;
  @media (prefers-color-scheme: dark) {
    color: invert($text-muted);
  }
}

hr.page-break {
  display: none;
  @media print {
    display: block;
    color: transparent;
    height: 0px;
    border: none;
    page-break-after: always;
  }
}

// big quotes
blockquote {
  border-left: 10px solid $text-color;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-style: italic;
  font-weight: 300;

  @media (prefers-color-scheme: dark) {
    border-left-color: invert($text-color);
  }

  > :last-child {
    margin-bottom: 0;
  }
}
// inline code
code,
pre {
  color: $code-text-color;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  background-color: $code-background-color;
}

code {
  padding: 0.125rem;
}
// code snippets
pre {
  padding: 0.25rem 0.5rem;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
